  

/* Add Product Page */
.add-product {
    width: 100%;
    max-width: 1500px;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    animation: slideIn 1s ease-out;
  }
  
  .add-product h2 {
    font-size: 2.5rem;
    color: #1565c0;
    text-align: center;
  }
  
  form input {
    width: 80%;
    padding: 10px;
    margin: 10px 50px;
    border: 1px solid #90caf9;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  form input:focus {
    outline: none;
    border-color: #1976d2;
    box-shadow: 0 0 5px #1976d2;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background: #1e88e5;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
  }
  
  form button:hover {
    background: #1565c0;
    transform: translateY(-3px);
  }

  /* Responsive Add Product Page */
@media screen and (max-width: 768px) {
    .add-product {
      padding: 15px;
    }
  
    .add-product h2 {
      font-size: 2rem;
    }
  
    form input {
      font-size: 0.9rem;
    }
  
    form button {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .add-product {
      padding: 10px;
    }
  
    .add-product h2 {
      font-size: 1.5rem;
    }
  
    form input {
      font-size: 0.8rem;
    }
  
    form button {
      font-size: 0.9rem;
      padding: 8px;
    }
  }
  
  .footer {
    height: 20vh;
    margin-top: 50px;
    padding: 20px;
    padding-top: 130px;
    background: #1565c0;
    color: white;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    
  }
  

  
  .footer-content p {
    margin: 5px 0 0;
    font-size: 2rem;
    
  }

  